<!DOCTYPE html>
<html>
<head>
  <title>Inmobiliaria</title>
  <%= stylesheet_link_tag    "application", "estilo" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="contenedor">
<div id="header">
<div id="logo">
<%= link_to (image_tag "logo.jpg", :size=> "150x150") %>
</div>
<div id="titulo">
<h1>Titulo General</h1>
</div>
<div class="clear"></div>
<div id="menu">
	<ul>
		<li><%= link_to "Inicio", root_path %></li>
		<li><%= link_to "Nosotros", somos_path %></li>
		<li><%= link_to "Contacto", contacto_path %></li>
		<li><%= link_to "Noticias", notas_path %></li>
	</ul>
</div>
</div>
<%= yield %>
</div>
</body>
</html>
